.home{
    background-color: #000;
    .main-landing{
        /*position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        min-height: 100%;*/
        .main-banner{
            .box-sizing(border-box);
            padding-top: 50px;
            //background-image: url('../images/main-banner-bg.jpg');
            height: 1100px;
            background-size: cover;
            background: transparent;
            h1{
                font-family: @robotoSlabThin;
            }
            .logo-container{
                height: 150px;
                background: @gray-dark;

                .logo{
                    float: left;
                    margin-left: 51px;
                    margin-top: 35px;
                    width: 140px;
                    height: 82px;
                    background-image: url('../../assets/images/logo.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .yellow-heading{
                margin-top: 150px;
                h1{
                    font-family: @bebasNeueRegular;
                    font-size: 124px;
                    text-align: center;
                    color: @yellowLogistics;
                }
            }
            .sub-heading{
                h1{
                    text-align: center;
                    span{
                        font-size: 50px;
                        color: @white;
                        background-color: @gray-dark;
                        padding: 0px 30px;
                        line-height: 1.5;
                    }
                }
            }
            .buttons{
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        float: left;
                        width: 50%;
                        .box-sizing(border-box);
                        list-style: none;
                        padding: 30px 16%;
                        cursor: pointer;
                        .button{
                            width: 300px;
                            padding: 20px 30px;
                            color: @yellowLogistics;
                            font-family: @robotoSlabThin;
                            text-align: center;
                            border: 1px solid @white;
                            text-transform: uppercase;
                            font-size: 20px;
                            background: none;
                        }
                    }
                }
            }
        }
    }

    .info-one{
        background-color: @deepSeaBlue;
        min-height: 1100px;
        .top-head{
            .box-sizing(border-box);
            padding: 100px 0;
            h1{
                text-align: center;
                font-family: @robotoSlabThin;
                font-size: 42px;
                color: @white;
                margin: 0;
            }
        }
        .heads{
            width: 100%;
            ul{
                margin: 0;
                padding: 0;
                li{
                    text-align: center;
                    list-style: none;
                    float: left;
                    width: 50%;
                    .box-sizing(border-box);
                    .image-ico{
                        padding-bottom: 337px;
                        background-repeat: no-repeat;
                        width: 292px;
                        margin: 0 auto;
                    }
                    span{
                        text-align: center;
                        font-family: @robotoSlabThin;
                        color: @white;
                        font-size: 42px;

                    }
                }
            }
        }
    }

    .info-two{
        background-color: @darkMudBrown;
        min-height: 1100px;
        .box-sizing(border-box);
        padding-top: 300px;
        .heads{
            ul{
                margin: 0;
                padding: 0;
                li{
                    text-align: center;
                    list-style: none;
                    float: left;
                    width: 50%;
                    .box-sizing(border-box);
                    .image-ico{
                        padding-bottom: 337px;
                        background-repeat: no-repeat;
                        width: 292px;
                        margin: 0 auto;
                    }
                    span{
                        text-align: center;
                        font-family: @robotoSlabThin;
                        color: @white;
                        font-size: 42px;
                        text-transform: uppercase;

                    }
                    ul.three-heads{
                        margin: 0;
                        padding: 0;
                        .box-sizing(border-box);
                        padding: 0 20%;
                        li{
                            width: 33.33%;
                            list-style: none;
                            .box-sizing(border-box);
                            padding: 0 10px 200px 10px;
                            float: left;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
    }

    .info-three{
        background-color: @voilet;
        min-height: 1100px;
        .box-sizing(border-box);
        padding-top: 300px;
        .heads{
            ul{
                margin: 0;
                padding: 0;
                li{
                    text-align: center;
                    list-style: none;
                    float: left;
                    width: 50%;
                    .box-sizing(border-box);
                    .image-ico{
                        padding-bottom: 337px;
                        background-repeat: no-repeat;
                        width: 292px;
                        margin: 0 auto;
                    }
                    span{
                        text-align: center;
                        font-family: @robotoSlabThin;
                        color: @white;
                        font-size: 42px;
                        text-transform: uppercase;
                    }
                    ul.three-heads{
                        margin: 0;
                        padding: 0;
                        .box-sizing(border-box);
                        clear: both;
                        padding: 0 20%;
                        li{
                            margin: 0px 2% 20px;
                            width: 29.33%;
                            list-style: none;
                            .box-sizing(border-box);
                            padding: 0 10px 175px 10px;
                            float: left;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                    .medium-head{
                        text-align: center;
                        clear: both;
                        font-family: @robotoSlabThin;
                        color: @white;
                        font-size: 34px;
                        text-transform: uppercase;
                        width: 50%;
                        margin: 20px auto;
                    }
                    ul.border-divs{
                        margin: 0;
                        padding: 0;
                        .box-sizing(border-box);
                        padding: 0 20%;
                        clear: both;
                        li{
                            width: 30%;
                            list-style: none;
                            float: left;
                            .border-div{
                                width: 15.33%;
                                margin-left: 16%;
                                border-left: 1px solid @white;
                                width: 1px;
                                .box-sizing(border-box);
                                padding-bottom: 100px;
                                margin: 0 auto;
                            }
                            .image-holder{
                                width: 65px;
                                .box-sizing(border-box);
                                padding-bottom: 72px;
                                margin: 20px auto;
                            }
                        }
                    }
                }
            }
        }
    }

    .info-four{
        background-color: @lightNavyBlue;
        min-height: 1100px;
        .box-sizing(border-box);
        padding-top: 300px;
        .heads{
            width: 100%;
            ul{
                margin: 0;
                padding: 0;
                li{
                    text-align: center;
                    list-style: none;
                    float: left;
                    width: 50%;
                    .box-sizing(border-box);
                    .image-ico{
                        padding-bottom: 337px;
                        background-repeat: no-repeat;
                        width: 200px;
                        margin: 0 auto;
                    }
                    .image-ico-small{
                        width: 180px;
                        background-repeat: no-repeat;
                        margin: 10px auto;
                        padding-bottom: 100px;
                    }
                    .image-ico-large{
                        padding-bottom: 100px;
                        background-repeat: no-repeat;
                        width: 307px;
                        margin: 0 auto;
                    }
                    span{
                        text-align: center;
                        font-family: @robotoSlabThin;
                        color: @white;
                        font-size: 42px;

                    }
                }
            }
        }
    }


    .box{
        width: 1000px;
        height: 1500px;
        margin: 0px auto 20px;
        position: relative;
        .box-small{
            .box-small(@top:30px, @left: 100px, @width: 100px, @height: 100px);
        }
        .box-small-doc1{
            .box-small(@top:30px, @left: 200px, @width: 200px, @height: 300px)
        }
    }

}
