.cover-photo {
    linearGradient: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: auto;
    background-position: center;
    text-align: left;
    color: white;

    @media(min-width: 768px) {
      min-height: 80%;
    }

    .container {
      .user-pro {
        max-width: 250px;
        position: relative;
        background-position: center;
//        padding-left: -10%;
        padding-top: 25%;
        text-align: center;
      }
      .details-section {
        padding-top: 24%;
        padding-left: 5%;
      }
      h2  {
        font-family: arial, verdana, sans-serif;
        position: relative;
        font-size: 40px;
        font-weight: 600;
      }

      h4 {
        font-family: 'ArialRoundedMTBold', Arial;
        font-size: 20px;
        font-weight: 400;
      }

      .joined-section {
        h4 {
          padding-top: 10%;
          font-family: roboto_slabregular;
          font-size: 14px;
          font-weight: 350;
        }
      }
    }
}

.contact-section {
  font-family: "Open Sans";
  .details-info {
    background: #FFFFFF;
    font-family: Arial, Baskerville, monospace;
    font-size: 14px;
    color: #99A4A6;

  }
}

.about-section {
  font-family: "Open Sans";
  .about-info {
    background: #FFFFFF;
    font-family: Arial, Baskerville, monospace;
    font-size: 14px;
    color: #99A4A6;

  }
}


