.cover-photo {
    linearGradient: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: auto;
    background-position: center;
    text-align: center;
    color: white;

    @media(min-width: 768px) {
      min-height: 70%;
    }

    .container {
      .user-pro {
        max-width: 200px;
        position: relative;
        .center-block;
        background-position: center;
        padding-top: 15%;
        text-align: center;
      }
      h2  {
        font-family: arial, verdana, sans-serif;
        position: relative;
        font-size: 40px;
        font-weight: 600;
      }

      h4 {
        font-family: 'ArialRoundedMTBold', Arial;
        font-size: 22px;
        font-weight: 400;
      }

      .joined-section {
        h4 {
          padding-top: 5%;
          font-family: roboto_slabregular;
          font-size: 17px;
          font-weight: 350;
        }
      }
    }
}
