
.modal-header{
  background-color: @tealGreen;
  text-align: center;

  label {
    font-family: Verdana, Arial, helvetica, sans-serif;
    font-size: 16px;
    color: white;
  }
}

.btn-login {
  position: relative;
  background-color: @tealBlueNew;
  color: white;
  background-position: center;
  &:hover,
  &:focus,
  &:active {
    color: white;
  }
}