html,
body {
  height: 100%;
  width: 100%;
}

body {
  .serif-font;
}

hr {
  border-color: @theme-primary;
  border-width: 3px;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

a {
  .transition-all;
  color: @theme-primary;
  &:hover,
  &:focus {
    color: darken(@theme-primary, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .sans-serif-font;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: @theme-primary;
}

.bg-dark {
  background-color: @theme-dark;
  color: white;
}

.text-faded {
  color: fade(white, 70%);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

header {
  position: relative;
  width: 40%;
  min-height: auto;
  background-position: top;
  background-image: url('../../images/header.jpg');
  text-align: center;
  color: white;
  .header-content {
    position: relative;
    text-align: center;
    padding: 50px 15px 50px;
    width: 100%;
    .header-content-inner {
      h1 {
        font-weight: 200;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 60px;
      }
      .form-control {
        width: 40%;
        margin-bottom: 50px;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-weight: 100;
        color: fade(white, 70%);
        font-size: 16px;
        margin-bottom: 50px;
      }
    }
  }
  @media (min-width: 768px) {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 20%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;
      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        p {
          font-size: 18px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}