{% extends '/templates/layout.html' %}
{% block body %}
{% if model %}
<input type="hidden" value="{{ model }}" ng-model="model">
<input type="hidden" value="{{ user.id }}" ng-model="user">
<div class="cover-photo" style="background-image: url(../../../../assets/images/nyc.jpg)">
    <div class="container">
        <div class="row">
            <div class="user-pro col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="../../../../assets/images/profile.jpg" alt="" class="center-block text-center img-responsive">
            </div>
            <div class="details-section col-lg-9 col-md-4 col-sm-4 col-xs-12">
                <div class="name-section">
                    <h2>{{ model.name }}</h2>
                </div>
                 {% if model.address %}
                <div class="location-section">
                    <h4><i class="fa fa-map-marker"></i>&nbsp;{{ model.address }}</h4>
                </div>
                {% endif %}
                <div class="joined-section">
                    <h4>Member since {{ model.created_timestamp.strftime('%B %d, %Y') }}</h4>
                </div>
            </div>
        </div>

    </div>
</div>
<section class="container-fluid p-0" ng-controller="profileCtrl">
    <div role="tabpanel" data-example-id="togglable-tabs">

        <div class="border-grey-t border-grey-b h-56">

            <div class="container text-center">

                <ul id="myTab" class="nav nav-tabs" role="tablist">

                    <li class="active"><a href="#personal-details" role="tab" data-toggle="tab" aria-controls="personal-details" aria-expanded="false">
                        <span class="fa fa-user"></span><strong>&nbsp;PERSONAL DETAILS</strong></a></li>

                    <li class=""><a href="#myWorks" role="tab" data-toggle="tab" aria-controls="work-details" aria-expanded="false">
                        <span class="fa fa-picture-o"></span><strong>&nbsp;MY WORKS</strong></a></li>

                </ul>

            </div>

        </div>
        <br/>


        <div class="container">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="personal-details" aria-labelledby="my-stream">
                        <div class="contact-section">
                            <strong>CONTACT INFO</strong><br/><br/>


                            <div class="border-grey-t border-grey-b border-grey-l border-grey-r details-info-edit fadeInDown hidden transwhite-bg" id="details-info-edit">
                                <input class="profile-id" type="hidden" value="{{ model.id }}"/>
                                <input type="hidden" value="{{ model.slug }}" ng-model="profile_slug"/>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                        Email:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10">
                                        {{ model.email }}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                        Phone:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10 w-25">
                                        <input class="phone-number-edit form-control" type="text" value="{{ model.phone }}" ng-model="phone">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 h-50 m-10 ml-40 p-10">
                                        Mobile:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-50 m-10 p-10 w-25">
                                        <input class="mobile-number-edit form-control" type="text" value="{{ model.mobile }}" ng-model="mobile">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                        Address:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10 w-25">
                                        <textarea class="address-edit form-control" ng-model="address"></textarea>
                                    </div>
                                </div>
                                <br/>
                                <div class="center-block p-10 text-center">
                                    <button class="btn-group-lg w-10" ng-click="update_contact_info()">Save</button>
                                    <button class="btn-group-lg w-10 ml-5" ng-click="cancel_update_contact()">Cancel</button>
                                </div>

                            </div>



                            <div class="border-grey-t border-grey-b border-grey-l border-grey-r details-info transwhite-bg">
                                    <div class="pull-right edit-contact-button h-56 w-20 text-center m-10">
                                            <span class="fa fa-pencil" ng-click="edit_contact_info()"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                            Email:
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10">
                                            {{ model.email }}
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                            Phone:
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10 phone-display">
                                            {{ model.phone }}
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 h-50 m-10 ml-40 p-10">
                                            Mobile:
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-50 m-10 p-10 mobile-display">
                                            {{ model.mobile }}
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                            Address:
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10 address-display">
                                            {{ model.address }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <br/>


                        <div class="about-section">
                            <strong>ABOUT</strong><br/><br/>


                            <div class="border-grey-b border-grey-l border-grey-t border-grey-r about-info-edit transwhite-bg hidden">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                        Bio:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10">
                                        <input class="bio-edit form-control" type="text" value="{{ model.bio }}" ng-model="bio">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                        Proficiency:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10">
                                        <input class="proficiency-edit form-control" type="text" value="{{ model.proficiency }}" ng-model="proficiency">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 h-25 ml-40 p-10 m-10">
                                        Work Focus:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10">
                                        <input class="work-focus-add-row form-control" type="text">
                                        <div class="h-25 m-10 p-10 custom-tags-list">
                                            {% if model.work_focus %}
                                            {% for focus in model.work_focus %}
                                            <a class="focus-tags">{{ focus }}&nbsp;|&nbsp;X</a>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 h-25 ml-40 p-10 m-10">
                                        Work Style:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10">
                                        <input class="work-style-add-row form-control" type="text">
                                        <div class="h-25 m-10 p-10 custom-tags-list">
                                            {% if model.work_style %}
                                            {% for style in model.work_style %}
                                            <a class="style-tags">{{ style }}&nbsp;|&nbsp;X</a>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 h-25 ml-40 p-10 m-10">
                                        Work Interests:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10">
                                        <input class="work-interests-add-row form-control" type="text">
                                        <div class="h-25 m-10 p-10 custom-tags-list">
                                            {% if model.work_interest %}
                                            {% for interest in model.work_interest %}
                                            <a class="interest-tags">{{ interest }}&nbsp;|&nbsp;X</a>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="border-grey-t border-grey-b border-grey-l border-grey-r about-info transwhite-bg">
                                <div class="pull-right edit-about-button h-56 w-20 text-center m-10">
                                    <span class="fa fa-pencil"></span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                        Bio:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10">
                                        {{ model.bio }}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                        Proficiency:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10">
                                        {{ model.proficiency }}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 h-50 m-10 ml-40 p-10">
                                        Work Focus:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-50 m-10 p-10 custom-tags-list">
                                        {% if model.work_focus %}
                                            {% for focus in model.work_focus %}
                                            <a href="#">{{ focus }}</a>
                                            {% endfor %}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                        Work Style:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10 custom-tags-list">
                                        {% if model.work_style %}
                                            {% for style in model.work_style %}
                                            <a href="#">{{ style }}</a>
                                            {% endfor %}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                        Work Interests:
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 h-25 m-10 p-10 custom-tags-list">
                                        {% if model.work_interest %}
                                            {% for interest in model.work_interest %}
                                            <a href="#">{{ interest }}</a>
                                            {% endfor %}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <br/>



                    <div class="education-section">
                        <strong>EDUCATION</strong><br/><br/>
                        <div class="border-grey-t border-grey-b border-grey-r border-grey-l education-info-edit transwhite-bg hidden">
                            <div class="add-education-button h-50 m-10 ml-40 p-10">
                                <span class="fa fa-plus-circle" ng-click="add_education_row()">&nbsp; Add Education</span>
                            </div>
                            {% if model.institution %}
                            <div class="education-rows-section">
                            {%for institution in model.institution%}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                    <input class="form-control education-field" value="{{ institution }}">
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                            {% endif %}
                            <br/>
                            <div class="center-block p-10 text-center">
                                <button class="btn-group-lg w-10" ng-click="update_education_info()">Save</button>
                                <button class="btn-group-lg w-10 ml-5" ng-click="cancel_education_edit()">Cancel</button>
                            </div>
                        </div>


                        <div class="border-grey-t border-grey-b border-grey-l border-grey-r education-info transwhite-bg">
                            <div class="pull-right edit-education-button h-25 w-20 text-center m-10">
                                <span class="fa fa-pencil" ng-click="edit_education()"></span>
                            </div>
                            {% if model.institution %}
                            {% for institution in model.institution %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                    <li>{{ institution }}</li>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                     None
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <br/>

                    <div class="experience-section">
                        <strong>EXPERIENCE</strong><br/><br/>

                        <div class="border-grey-t border-grey-b border-grey-r border-grey-l experience-info-edit transwhite-bg hidden">
                            <div class="add-experience-button h-50 m-10 ml-40 p-10">
                                <span class="fa fa-plus-circle" ng-click="add_experience_row()">&nbsp; Add Experience</span>
                            </div>
                            {% if model.experience %}
                            <div class="experience-rows-section">
                                {%for experience in model.experience%}
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                        <input class="form-control experience-field" value="{{ experience }}">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <br/>
                            <div class="center-block p-10 text-center">
                                <button class="btn-group-lg w-10" ng-click="update_experience_info()">Save</button>
                                <button class="btn-group-lg w-10 ml-5" ng-click="cancel_experience_edit()">Cancel</button>
                            </div>
                        </div>


                        <div class="border-grey-t border-grey-b border-grey-l border-grey-r experience-info transwhite-bg">
                            <div class="pull-right edit-experience-button h-25 w-20 text-center m-10">
                                <span class="fa fa-pencil" ng-click="edit_experience()"></span>
                            </div>
                            {% if model.experience %}
                            {% for experience in model.experience %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                    <li>{{ experience }}</li>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 m-10 ml-40 h-25 p-10">
                                    None
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <br/>

                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}
{% endblock %}