{% extends "/templates/layout.html" %}
{% block title %}Home - DesignVerve{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block body %}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>LOCUS<i>IDEAS</i></h1>
            <p class="no-background-line" style="width: 50%"><span>Explore & Exhibit Space Solutions</span></p>
            <ul>
                <li style="background-color: #00c2cd;">
                    NEED<br>A <i>DESIGN</i>
                </li>
                <li style="background-color: #049e8f;">
                    AM A <br><i>DESIGNER</i>
                </li>
            </ul>
            <div class="tags">
                <h1>exhibit.</h1>
                <h1>explore.</h1>
                <h1>execute.</h1>
            </div>
        </div>
    </div>
</header>
<section class="figures">
    <div class="container">
        <ul>
            <li>
                <h2>1500</h2>
                <p>DESIGNERS</p>
            </li>
            <li>
                <h2>250</h2>
                <p>SPACES</p>
            </li>
            <li>
                <h2>2879</h2>
                <p>DESIGNS</p>
            </li>
        </ul>
    </div>
</section>

<section class="whoami">
    <div class="container">
        <ul>
            <li style="background-color: #00c2cd">
                <p style="text-align: right;">
                    Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
                </p>
                <div class="who">
                    <h3>
                        I AM A<br><i>CLIENT</i>
                    </h3>
                    <div class="ami" style="background-image: url(/images/client.png);">

                    </div>
                </div>
            </li>
            <li style="background-color: #049e8f">
                <div class="who">
                    <h3>
                        I AM A<br><i>DESIGNER</i>
                    </h3>
                    <div class="ami" style="background-image: url(/images/designer.png);">

                    </div>
                </div>
                <p>
                    Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
                </p>
            </li>
        </ul>
    </div>
</section>
<section class="how-we-work">
    <div class="container">
        <p class="text-border" style="width: 50%; margin: 0 auto"><span>how <i><b>we</b></i> work</span></p>
        <div class="holder">
            <ul>
                <li>
                    <div class="skew-box"></div>
                    <i class="fa fa-crosshairs"></i>
                    <h3>Discover</h3>
                    <p><em>Designers.</em></p>
                </li>
                <li>
                    <div class="skew-box"></div>
                    <i class="fa fa-random"></i>
                    <h3>Customize</h3>
                    <p><em>Designs.</em></p>
                </li>
                <li>
                    <i class="fa fa-heart"></i>
                    <h3>Love</h3>
                    <p><em>your space.</em></p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <br/>
                <hr class="light">
                <br/>
                <p class="text-faded">Design Verve is your one-stop shop for great interior design.<br/>
                    We provide a platform for the designers to showcase their talent.<br/>
                    The clients can choose a design from those which have been exhibited in the designer's portfolio
                    <strong>(OR)</strong>
                    The client can also request for a new design by specifying his/her requirements.
                <p class="text-faded">We could even execute it for you! </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
                    <h3>Discover Designers</h3>
                    <p class="text-muted">Find designers as per your requirements.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-image-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Select Designs</h3>
                    <p class="text-muted">Choose from hundreds of designs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Customize</h3>
                    <p class="text-muted">Let us do all the hard work for you.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">Everything you need to dress your space the way it deserves!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{url_for('static', filename='images/7.jpg')}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Quirky interiors
                            </div>
                            <div class="project-name">
                                Yelp office
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{url_for('static', filename='images/8.jpg')}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Contemporary
                            </div>
                            <div class="project-name">
                                Contemporary office
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{url_for('static', filename='images/9.jpg')}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Modern designs
                            </div>
                            <div class="project-name">
                                Conference Room Design
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{url_for('static', filename='images/10.jpg')}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Modern designs
                            </div>
                            <div class="project-name">
                                Breakroom Design
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{url_for('static', filename='images/11.jpg')}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Minimalist
                            </div>
                            <div class="project-name">
                                Office Conference Room
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{url_for('static', filename='images/12.jpg')}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Quirky
                            </div>
                            <div class="project-name">
                                Wausau Wi Campus
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!--aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Free Download at Start Bootstrap!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
        </div>
    </div>
</aside-->

<section id="contact">
    <div class="container">
        <div class="row contact-box">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading-contact">Let's Get In Touch!</h2>
                <hr class="contact">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p class="contact-details">123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p class="contact-details"><a href="mailto:feeback@designverve.com">feedback@designverve.com</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}