.border-white{border: 1px solid rgba(255,255,255,.5)!important;}
.border-black{border: 1px solid rgba(0,0,0,.5) !important;}
.border-grey{border: 1px solid rgba(128,128,128,.5) !important;}

.border-white-4{border: 4px solid rgba(255,255,255,1);}

.border-black-t{border-top: 1px solid rgba(0,0,0,.5);}
.border-black-r{border-right: 1px solid rgba(0,0,0,.5);}
.border-black-b{border-bottom: 1px solid rgba(0,0,0,.5);}
.border-black-l{border-left: 1px solid rgba(0,0,0,.5);}

.border-grey-t{border-top: 1px solid #E2E2E2;}
.border-grey-r{border-right: 1px solid #d1d1d1;}
.border-grey-b{border-bottom: 1px solid #d1d1d1;}
.border-grey-l{border-left: 1px solid #d1d1d1;}

.border-white-t{border-top: 1px solid rgba(255,255,255,.08);}
.border-white-r{border-right: 1px solid rgba(255,255,255,.08);}
.border-white-b{border-bottom: 1px solid rgba(255,255,255,.08);}
.border-white-l{border-left: 1px solid rgba(255,255,255,.08);}

.w-100{width:100%}
.w-75{width:75%}
.w-50{width:50%}
.w-48{width:48%;}
.w-25{width:25%}
.w-10{width: 10%}

.h-100{height:100%}
.h-75{height:75%}
.h-50{height:50%}
.h-25{height:25%}
.h-56{height:56px !important;}


.p-0 {	padding: 0px !important; text-align:justify;}
.m-0 {	margin: 0px !important;}

.p-5 {	padding: 5px !important;}
.p-10 {	padding: 10px !important;}
.p-15 {	padding: 15px !important;}
.p-20 {	padding: 20px !important;}
.p-25 {	padding: 25px !important;}
.p-30 {	padding: 30px !important;}
.p-35 {	padding: 35px !important;}
.p-40 {	padding: 40px !important;}
.p-45 {	padding: 45px !important;}
.p-50 {	padding: 50px !important;}
.p-55 {	padding: 55px !important;}
.p-60 {	padding: 60px !important;}
.p-65 {	padding: 65px !important;}
.p-70 {	padding: 70px !important;}
.p-75 {	padding: 75px !important;}
.p-80 {	padding: 80px !important;}
.p-85 {	padding: 85px !important;}
.p-90 {	padding: 90px !important;}
.p-95 {	padding: 95px !important;}
.p-100{ padding: 100px !important;}

.m-5 {	margin: 5px !important;}
.m-10 {	margin: 10px !important;}
.m-15 {	margin: 15px !important;}
.m-20 {	margin: 20px !important;}
.m-25 {	margin: 25px !important;}
.m-30 {	margin: 30px !important;}
.m-35 {	margin: 35px !important;}
.m-40 {	margin: 40px !important;}
.m-45 {	margin: 45px !important;}
.m-50 {	margin: 50px !important;}
.m-55 {	margin: 55px !important;}
.m-60 {	margin: 60px !important;}
.m-65 {	margin: 65px !important;}
.m-70 {	margin: 70px !important;}
.m-75 {	margin: 75px !important;}
.m-80 {	margin: 80px !important;}
.m-85 {	margin: 85px !important;}
.m-90 {	margin: 90px !important;}
.m-95 {	margin: 95px !important;}
.m-100{ margin: 100px !important;}

.mt-5 {	margin-top: 5px !important;}
.ml-5 {	margin-left: 5px !important;}
.mb-5 {	margin-bottom: 5px !important;}
.mr-5 {	margin-right: 5px !important;}

.mt-10 {margin-top: 10px !important;}
.ml-10 {margin-left: 10px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mr-10 {margin-right: 10px !important;}

.mt-15 {margin-top: 15px !important;}
.ml-15 {margin-left: 15px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mr-15 {margin-right: 15px !important;}

.mt-20 {margin-top: 20px !important;}
.ml-20 {margin-left: 20px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mr-20 {margin-right: 20px !important;}

.mt-25 {margin-top: 25px !important;}
.ml-25 {margin-left: 25px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mr-25 {margin-right: 25px !important;}

.mt-30 {margin-top: 30px !important;}
.ml-30 {margin-left: 30px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mr-30 {margin-right: 30px !important;}

.mt-35 {margin-top: 35px !important;}
.ml-35 {margin-left: 35px !important;}
.mb-35 {margin-bottom: 35px !important;}
.mr-35 {margin-right: 35px !important;}

.mt-40 {margin-top: 40px !important;}
.ml-40 {margin-left: 40px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mr-40 {margin-right: 40px !important;}

.mt-45 {margin-top: 45px !important;}
.ml-45 {margin-left: 45px !important;}
.mb-45 {margin-bottom: 45px !important;}
.mr-45 {margin-right: 45px !important;}

.mt-50 {margin-top: 50px !important;}
.ml-50 {margin-left: 50px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mr-50 {margin-right: 50px !important;}

.mt-85 {margin-top: 85px !important;}
.ml-85 {margin-left: 85px !important;}
.mb-85 {margin-bottom: 85px !important;}
.mr-85 {margin-right: 85px !important;}

.mt-100 {margin-top: 100px !important;}
.ml-100 {margin-left: 100px !important;}
.mb-100 {margin-bottom: 100px !important;}
.mr-100 {margin-right: 100px !important;}

.mt-120 {margin-top: 120px !important;}
.ml-120 {margin-left: 120px !important;}
.mb-120 {margin-bottom: 120px !important;}
.mr-120 {margin-right: 120px !important;}

.pt-5 {	padding-top: 5px !important;}
.pl-5 {	padding-left: 5px !important;}
.pb-5 {	padding-bottom: 5px !important;}
.pr-5 {	padding-right: 5px !important;}

.pt-10 {padding-top: 10px !important;}
.pl-10 {padding-left: 10px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pr-10 {padding-right: 10px !important;}
.ptb-10{padding:10px 0 !important;}


.pt-15 {padding-top: 15px !important;}
.pl-15 {padding-left: 15px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pr-15 {padding-right: 15px !important;}

.pt-20 {padding-top: 20px !important;}
.pl-20 {padding-left: 20px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pr-20 {padding-right: 20px !important;}

.pt-25 {padding-top: 25px !important;}
.pl-25 {padding-left: 25px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pr-25 {padding-right: 25px !important;}

.pt-30 {padding-top: 30px !important;}
.pl-30 {padding-left: 30px !important;}
.pb-30 {padding-bottom: 30px !important;}
.pr-30 {padding-right: 30px !important;}

.pt-35 {padding-top: 35px !important;}
.pl-35 {padding-left: 35px !important;}
.pb-35 {padding-bottom: 35px !important;}
.pr-35 {padding-right: 35px !important;}

.pt-40 {padding-top: 40px !important;}
.pl-40 {padding-left: 40px !important;}
.pb-40 {padding-bottom: 40px !important;}
.pr-40 {padding-right: 40px !important;}

.pt-45 {padding-top: 45px !important;}
.pl-45 {padding-left: 45px !important;}
.pb-45 {padding-bottom: 45px !important;}
.pr-45 {padding-right: 45px !important;}

.pt-50 {padding-top: 50px !important;}
.pl-50 {padding-left: 50px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pr-50 {padding-right: 50px !important;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #F05F40;
    background-color: #fff;
    border-top:0px;
    border-right:0px;
    border-bottom:2px solid #F05F40;
}
.nav-tabs > li.active > a .fa{
    font-size:18px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{
    color: #F05F40;
    background:transparent;
}

.nav-tabs > li a{
    display: inline-block;
    margin: 0;
    font-size: 16px;
    list-style: none;
    padding: 15px;
    background:#FFF;
    border-left: 1px solid #d1d1d1;
    font-weight:400;
    text-decoration:none;
    color:#99A4A6;
    word-spacing:normal;
    text-transform:uppercase;
    border-radius:0px;
}
.nav-tabs > li a strong{
    font-weight:400;
}

@media (max-width:1200px){
    .nav-tabs > li a{
        padding: 15px 25px;
    }
    .nav-tabs > li a .badge{
        padding:2px 4px;
    }
    .nav-tabs li a strong{
        display:none;
    }
}

/*@media (max-width:640px){*/
    /*.nav-tabs > li a{*/
        /*padding: 15px 15px;*/
    /*}*/
    /*.nav-tabs li a strong{*/
        /*display:none;*/
    /*}*/
    /*.nav-tabs > li a .badge{*/
        /*padding:2px 4px;*/
    /*}*/
/*}*/
.nav-tabs{
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
    padding: 0 !important;
    /*width: 100%;*/
    font-size: 16px;
    display:inline-block;
}


/*@media (max-width:480px){*/
    /*.nav-tabs > li a{*/
        /*padding: 15px 10px;*/
    /*}*/
    /*.nav-tabs li a strong{*/
        /*display:none;*/
    /*}*/

    /*.nav-tabs > li a .badge{*/
        /*padding:2px 4px;*/
    /*}*/
/*}*/


.nav-tabs > li:last-child{
    border-right: 1px solid #d1d1d1;
}

.transwhite-bg{
    background:rgba(247, 247, 249, 0.5);
}

.transwhite-bg2 {
    background: rgba(205, 205, 205, 0.5);
}


.fitrangi-tags-list h2{
    font-family: 'oswald', Arial, Helvetica, sans-serif;
    color: #FFF;
    border-bottom:1px solid #FFF;
    text-align:center;
    padding-bottom:10px;
}

.custom-tags-list a{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 16px 8px 0;
    padding: 0 10px 0 12px;
    background: #17A697;
    /*-webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);*/
    color: #fff;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}
.custom-tags-list a:hover{
    background:#17A697;
}
.custom-tags-list a:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #17A697 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.custom-tags-list a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    background: #FFF;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.4);
    /* -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
   box-shadow: -1px -1px 2px rgba(0,0,0,0.4);*/
}